<section *ngIf="vehicle">
    <div class="container pc pt-1">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img src="{{vehicle.url1 || './assets/car missing.png'}}" alt="vehicle picture"
                        class="card-img-top">
                    <div class="card-footer">
                        <h4>{{vehicle.make}}</h4> {{vehicle.variant}}
                    </div>
                </div>
            </div>
            <div class="col-8">
                <tabset class="member-tabset">
                    <tab heading='Basic Info'>
                        <h4>Basic Info</h4>
                        <div class="row">
                            <div class="col-2"> <b> Year:</b></div>
                            <div class="col-1">{{vehicle.year}}</div>
                        </div>
                        <div class="row">
                            <div class="col-2"> <b> Mileage:</b></div>
                            <div class="col-2">{{vehicle.mileage}} Km</div>
                        </div>
                        <div class="row">
                            <div class="col-2"> <b> Colour:</b></div>
                            <div class="col-2">{{vehicle.colour}}</div>
                        </div>
                       
                        <br>
                        <h5>Price</h5>
                        R {{vehicle.selling_price}}

                    </tab>
                    <tab heading='Description'>
                        <h4>Description</h4>
                        <p>{{vehicle.description}}</p>
                    </tab>
                    <tab heading='Photos'>
                        <h4>Photos</h4>
                        <ngx-gallery [options]="galleryOptions" [images]='galleryImages'
                            style=" display: inline-block; margin-bottom: 20px;"></ngx-gallery>
                    </tab>

                </tabset>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" routerLink='/showroom'> <b>Back to ShowRoom</b> </button>
        </div>

    </div>

    <div class="container mobile">
        <div class="card">
            <img class="card-img-top" src="{{vehicle.url1 || './assets/car missing.png'}}" alt="vehicle picture">
            <div class="card-body">
                <h4 class="card-title">
                    {{vehicle.make}}
                </h4>
                <h6 class="card-subtitle mb-3 text-muted">
                    {{vehicle.variant}} 
                </h6>
                <h4 class="card-title ">
                    R{{vehicle.selling_price}}
                </h4>
                <h5 class="card-title"> Basic Info</h5>
                <p class="card-text text-muted">
                   <b>Year:</b> {{vehicle.year}} <br>
                   <b>Mileage:</b> {{vehicle.mileage}} Km <br>
                   <b>Colour:</b> {{vehicle.colour}}
                </p>
                <h5 class="card-title">Description</h5>
                <p class="card-text text-muted">{{vehicle.description}}</p>
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block" routerLink='/showroom'> Back To ShowRoom</button>
        </div>
    </div>
</section>