<div class="container">
       <div class="row mb-3 ">
              <!-- <pre class="card card-block card-header">{{vehicleParams.ascORdesc| json}} </pre> -->
              <button class="btn btn-primary" [(ngModel)]="vehicleParams.sortBy" btnRadio="year" tabindex="0"
                     role="button" (click)="loadVehicles()">
                     Year
              </button>

              <button class="btn btn-primary" [(ngModel)]="vehicleParams.sortBy" btnRadio="selling_price" tabindex="0"
                     role="button" (click)="loadVehicles()">
                     Selling Price
              </button>

              <button class="btn btn-primary" [(ngModel)]="vehicleParams.sortBy" btnRadio="mileage" tabindex="0"
                     role="button" (click)="loadVehicles()">
                     Mileage
              </button>

              <button type="button" class="btn btn-primary" [(ngModel)]="vehicleParams.ascORdesc" btnCheckbox
                     btnCheckboxTrue=asc btnCheckboxFalse=desc (click)="loadVehicles(); changeSortIcon();">
                     <fa-icon [icon]="sortIcon"></fa-icon>
              </button>


       </div>

       <div class="container">
              <form #form="ngForm" (ngSubmit)="loadVehicles()" class="fliters">
                     <div class="container">
                            Select Price
                            <ngx-slider [(value)]="vehicleParams.sellingPriceMin"
                                   [(highValue)]="vehicleParams.sellingPriceMax" [options]="PriceSliderOptions">
                            </ngx-slider>

                            Select Year
                            <ngx-slider [(value)]="vehicleParams.yearMin" [(highValue)]="vehicleParams.yearMax"
                                   [options]="YearSliderOptions">
                            </ngx-slider>

                            Select Year
                            <ngx-slider [(value)]="vehicleParams.mileageMin" [(highValue)]="vehicleParams.mileageMax"
                                   [options]="MileageSliderOptions">
                            </ngx-slider>

                            <div class="row d-flex justify-content-center">
                                   <button class="btn btn-primary ml-1 " type="submit"> Apply Filters</button>
                                   <button class="btn btn-primary ml-1 " (click)="resetFilters()">Reset Filters</button>
                            </div>
                     </div>
              </form>
       </div>
       <div class="row">
              <div *ngFor="let vehicle of vehicles" class="col-sm-4">
                     <app-vehicle-card [vehicle]="vehicle"></app-vehicle-card>
              </div>
       </div>
</div>
<div class="d-flex justify-content-center">
       <pagination [boundaryLinks]="true" [totalItems]="this.numberOfItems" [itemsPerPage]="vehicleParams.itemsPerPage"
              [(ngModel)]="vehicleParams.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
              nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]="5">
       </pagination>
</div>