<section class="page-section " style="padding-bottom: 10em;">
    <div class="container line-height-lg pc" style="padding-top: 10px; ">
        <div class="row ">
            <div class="col">
                <h2>About us</h2>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ipsum a arcu cursus vitae. Mi sit amet mauris commodo. Elit at imperdiet dui
                    accumsan sit amet nulla. Amet tellus cras adipiscing enim eu. Eu ultrices vitae auctor eu augue ut
                    lectus
                    <br><br>
                    Vulputate ut pharetra sit amet. Leo urna molestie at elementum eu facilisis. Quam pellentesque nec
                    nam aliquam sem et tortor consequat. At ultrices mi tempus imperdiet nulla malesuada pellentesque.
                    Ornare suspendisse sed nisi lacus sed. Eu sem integer vitae justo eget magna fermentum iaculis eu.
                    Morbi tristique senectus et netus et malesuada fames. Justo nec ultrices dui sapien eget mi proin.
                    Eget dolor morbi non arcu risus quis varius. Egestas purus viverra accumsan in.
                    <br><br>
                    Congue nisi vitae suscipit tellus mauris a diam. Elementum facilisis leo vel fringilla est
                    ullamcorper eget nulla. Condimentum mattis pellentesque id nibh tortor. Etiam non quam lacus
                    suspendisse faucibus. Ultrices sagittis orci a scelerisque purus semper eget duis at.

                </div>


            </div>
            <div class="col">
                <img src="../../assets/samuele-errico-piccarini-FMbWFDiVRPs-unsplash.jpg" alt="Tensiometer"
                    class="img-fluid">
                <br><br>
                Mattis enim ut tellus elementum sagittis vitae et leo. Ut enim blandit volutpat maecenas volutpat
                blandit aliquam. Et molestie ac feugiat sed lectus.
                
            </div>
        </div>
    </div>
    <div class="container">
        <h2>About us</h2>
        <img src="../../assets/samuele-errico-piccarini-FMbWFDiVRPs-unsplash.jpg" alt="Tensiometer"
                    class="img-fluid">
                <p class="mt-1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ipsum a arcu cursus vitae. Mi sit amet mauris commodo. Elit at imperdiet dui
                    accumsan sit amet nulla. Amet tellus cras adipiscing enim eu. Eu ultrices vitae auctor eu augue ut
                    lectus
                    <br><br>
                    Vulputate ut pharetra sit amet. Leo urna molestie at elementum eu facilisis. Quam pellentesque nec
                    nam aliquam sem et tortor consequat. At ultrices mi tempus imperdiet nulla malesuada pellentesque.
                    Ornare suspendisse sed nisi lacus sed. Eu sem integer vitae justo eget magna fermentum iaculis eu.
                    Morbi tristique senectus et netus et malesuada fames. Justo nec ultrices dui sapien eget mi proin.
                    Eget dolor morbi non arcu risus quis varius. Egestas purus viverra accumsan in.
                    <br><br>
                    Congue nisi vitae suscipit tellus mauris a diam. Elementum facilisis leo vel fringilla est
                    ullamcorper eget nulla. Condimentum mattis pellentesque id nibh tortor. Etiam non quam lacus
                    suspendisse faucibus. Ultrices sagittis orci a scelerisque purus semper eget duis at.
                </p>
                <br>
                <p>
                    Mattis enim ut tellus elementum sagittis vitae et leo. Ut enim blandit volutpat maecenas volutpat
                    blandit aliquam. Et molestie ac feugiat sed lectus.    
                </p>
    </div>
</section>