<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand  navbar-brand" routerLink='/'><img src="../../assets/company logo.png" alt="company logo"
            style="height: 50px;"> 
    </a>
    <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button"
        [attr.aria-expanded]="!isCollapsed" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav"  [collapse]="isCollapsed" [isAnimated]="true">
        <ul class="navbar-nav">
            <li class="nav-item "><a class="nav-link " (click)="isCollapsed = !isCollapsed" routerLink='/'>Home</a></li>
            <li class="nav-item "><a class="nav-link " (click)="isCollapsed = !isCollapsed" routerLink='/about'>About us</a></li>
            <li class="nav-item"><a class="nav-link " (click)="isCollapsed = !isCollapsed" routerLink='/showroom'>ShowRoom</a></li>
        </ul>
    </div>

</nav>