<header class="py-5 bg-image-full header-img ml-5 mr-5 "
    style="background-image: url(../../assets/3521_1-799x532.jpg);">
    <div class="container heading">
        <div class="row ">
            <h1>Lorem Ipsum <fa-icon [icon]="faCoffee"></fa-icon></h1>
        </div>
        <div class="row" style="text-align: left;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur
        </div>
    </div>
</header>

<body>
    <div class="container mt-2">
        <div class="row d-flex justify-content-center">
            <h1>Lorem Ipsum</h1>
        </div>
        <div class="row">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariaturLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur
        </div>

        <div class="row justify-content-center mt-2 mb-5">
            <h2>Go to ShowRoom</h2>
            <button type="button" class="btn btn-primary btn-lg btn-block" routerLink='/showroom'>ShowRoom</button>
        </div>
    </div>
</body>

<!-- <app-vehicle-list></app-vehicle-list> -->